* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*clearfix*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*ヘッダー*/
header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}

.header-box {
	width: 1024px;
	margin: 0 auto;
}

.logo-image {
	height: 70px;
}

/*ヘッダーのナビゲーションバー*/
.header-nav {
	display: inline-block;
	float: right;
}

.header-nav-item {
	font-size: 16px;
	color: #fafafa;
	float: left;
	list-style: none;
	line-height: 70px;
	margin: 0 30px;
}

/*メインビジュアル*/
.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-position: center;
	text-align: center;
}

.main-visual-box {
	padding-top: 200px;
}

.main-visual-box h2 {
	font-size: 64px;
	color: #fafafa;
}

.main-visual-text {
	font-size: 20px;
	color: #fafafa;
}

/*共通使用CSS*/
.content-text-box {
	text-align: center;
}

.content-title {
	font-size: 32px;
	color: #000000;
	display: inline-block;
	padding-bottom: 8px;
}

.content-title-solid {
	width: 70px;
	margin: 0 auto;
	border-bottom: 3px solid #ec715f;
}

.content-text {
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
}

.content-box {
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}

/*ポートフォリオ*/
.portfolio {
	width: 100%;
	background-color: #eceff1;
}
.portfolio-box {
	width: 920px;
}

/*ポートフォリオimage*/
.portfolio-images {
	width: 300px;
	height: 250px;
	background-position: center;
	background-size: cover;
	float: left;
	margin-right: 10px; /*全てのimageの右に１０px*/
}
.portfolio-images:nth-child(-n+3) {
	margin-bottom: 10px; /*１〜３番目のimageの下に10px*/
}
.portfolio-images:nth-child(3n) {
	margin-right: 0; /*3の倍数のimageの右を０に変更*/
}
.portfolio-images:nth-child(1) {
	background-image: url(img/sketch.jpg);
}
.portfolio-images:nth-child(2) {
	background-image: url(img/websuku.png);
}
.portfolio-images:nth-child(3) {
	background-image: url(img/write.jpg);
}
.portfolio-images:nth-child(4) {
	background-image: url(img/webcamp.png);
}
.portfolio-images:nth-child(5) {
	background-image: url(img/talk.jpg);
}
.portfolio-images:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

/*フィーチャー*/
.feature-box {
	width: 980px;
}

.feature-contet {
	width: 320px;
	float: left;
	text-align: left;
}
.feature-contet:nth-child(2) {
	margin: 0 10px;
}

.icon-box {
	text-align: center;
}

.icon {
	font-size: 60px;
}

.feature-content-title {
	font-size: 20px;
	color: #000000;
	padding: 10px;
}

/*プロフィール*/
.profile {
	width: 100%;
	background-color: #eceff1;
}

.profile-box {
	width: 1024px;
}

.profile-image-box {
	width: 512px;
	float: left;
}
.profile-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.profile-text-box {
	width: 512px;
	float: left;
	text-align: left;
}

.my-name-box {
	margin-bottom: 8px;
}

.my-name, .my-skills {
	font-size: 20px;
	margin-bottom: 5px;
}

.my-name-text, .my-skills-text {
	font-size: 16px;
	color: #000000;
}






